<%= form_for @note do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
    <div>
      h1. <br />
      *bold text inside* <br /> 
      _italic text inside_ <br /> 
      "link":http://redcloth.org <br />
      * list item <br />
      # numeric list item <br />
    </div>
    </p>

  <%= f.hidden_field :page_id, :value => @page.id %>

   <p>
     <%= f.label :experiment_id %><br />
     <%= f.select :experiment_id , options_for_select( current_researcher.experiments.order("name asc").all.collect { |e| [e.name, e.id] }), :multiple => false, :size => 3 %>
  </p>

  <p>
    <%= f.label :attachment_url %><br />
    <%= f.file_field :attachment %>
  </p>
  <p><%= f.submit %>  <%= link_to "back", root_path, :class => "button green"  %></p>




<% end %>
