<section class="container_12">
<% if researcher_signed_in?  %>
  <div  class="grid_12 header">
  <div id="alerts">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= "You logged in as #{current_researcher.email}" %>(<%= link_to("sign_out", destroy_researcher_session_path, :method => :get) %>, <%= link_to("edit", edit_researcher_registration_path ) %>)
  </div>
  <%  if current_researcher.notebook %>

    <div id="pages" class="grid_12 rounded">
      <h4>My notebook <%= link_to("delete", current_researcher.notebook, :confirm => 'Are you sure?', :method => :delete, :class => "button red") %> </h4>
      <% if @pages %>
        <div id="pages_block" style="min-height: 100px;">
          <%= render 'pages' %>
        </div>
        <div id="pages_paginator">
          <%= paginate @pages, :remote => true, :param_name => "pages_page" %>
        </div>
      <% end %>
      <div id="add_page">
        <%= render "pages/form"%>
      </div>
    </div>

    <div id="projects" class="grid_12 rounded">
      <h4>Projects</h4>
      <% if @projects %>
        <div id="projects_block" style="min-height: 200px;">
          <%= render 'projects' %>
        </div>
        <div id="projects_paginator">
          <%= paginate @projects, :remote => true, :param_name => "projects_page" %>
        </div>
      <% end %>
      <span style="margin-top: 30px; display: block;"><%= link_to "New Project", new_project_path, :class => "button green" %></span>
    </div>
    
    <div id="experiments" class="grid_12 rounded">
      <h4>My experiments (<%= current_researcher.experiments.count %>)</h4>
      <% if @experiments %>
        <div id="experiments_block" style="min-height: 200px;">
          <%= render 'experiments' %>
        </div>
        <div id="experiments_paginator">
            <%= paginate @experiments, :remote => true, :param_name => "experiments_page" %>
        </div>
      <% end %>
      <span style="margin-top: 30px; display: block;"><%= link_to "New Experiment", new_experiment_path, :class => "button green" %></span>
    </div>
    
    <!--div id="other_experiments" class="grid_12 rounded">
    <h4>Other user experiments:</h4>
        <ul>
          <div id="o_e_block" style="min-height: 200px;">
            <%#= render 'o_e' %>
          </div>
          <div id="o_e_paginator">
            <%#= paginate @other_experiments, :remote => true, :param_name => "o_e_page" %>
          </div>
        </ul>
    </div-->

  <% else %>
    <div id="notebook" class="grid_12">
    <%= render "notebooks/form" %>
    </div>
  <% end %>

<% else %>
  <div id="auth" class="grid_12">
    <h4>Lab notebook</h4>
    <%= link_to("Sign up", new_researcher_registration_path) %>  <%= link_to("Sign in", researcher_session_path) %>
  </div>
<% end %>
</section>