<section class="container_12">
<% if researcher_signed_in?  %>
  <div  class="grid_12 header">
  <div id="alerts">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= "You logged in as #{ current_researcher.email }" %>(<%= link_to("sign_out", destroy_researcher_session_path, :method => :get) %>, <%= link_to("edit", edit_researcher_registration_path ) %>)
  </div>
  <%  if current_researcher.notebook %>
    <div id="pages" class="grid_12">
    <h4>My notebook(<%= link_to("delete", current_researcher.notebook, :confirm => 'Are you sure?', :method => :delete) %>):</h4>

    <% if @pages %>
      <% @pages.each do |p|%>
        <%= link_to "Page #{ p.created_at }", p %> (<%= pluralize( p.notes.count, "note") if p.notes %>)<%= link_to "(delete)", p, :confirm => 'Are you sure?', :method => :delete %> <br />
      <% end %>
      <%= paginate @pages, :param_name => "pages_page" %>
    <% end %>
    <%= render "pages/form" %>
    </div>


    <div id="projects" class="grid_12">
      <h4>Projects:</h4>
      <%if @projects %>
        <ul>
        <%@projects.each do |p|%>
          <li style="margin-bottom: 10px; border-bottom: 1px dashed #333;"> Project <%= p.name %>(<%= link_to "delete", p, :confirm => 'Are you sure?', :method => :delete %>)
               <%= link_to("follow", follow_path(p)) unless followed?(p) %>
               <%= link_to("unfollow", unfollow_path(p)) if followed?(p) %> <br />
             <span style="font-size: 12px;"> Project followers:
              <% p.researchers.each do |r| %>
                <%= r.name %>
              <% end %> </span>
          </li> 
        <% end %>
        <%= paginate @projects, :param_name => "projects_page" %>
        <p><%= link_to "New Project", new_project_path %></p>
      <% end %>
    </div>
    

    <div id="experiments" class="grid_12">
      <%if current_researcher.experiments %>
        <h4>My experiments:</h4>
        <ul>
        <% @experiments.each do |p| %>
            <li style="margin-bottom: 10px; border-bottom: 1px dashed #333;">
            Project <%= p.name %>: <br />
            <% p.researchers.each do |r| %>
              <% if r == current_researcher %>
                <span style="margin-left: 10px;"><%= r.name %></span><br />
                <ul style="margin-bottom: 10px;">
                <% r.experiments.where(:project_id => p.id).each do |e| %>
                  <li><span style="margin-left: 20px;"><%= link_to e.name, e %></span></li>
                <% end %>
              </ul>
              <% end %>

          <% end %>
          </li>
        <% end %>
        <%= paginate @experiments, :param_name => "e_page" %>
        </ul>
      <% end %>



      <%= link_to "New Experiment", new_experiment_path %>
    </div>

    <div id="other_experiments" class="grid_12">
    <h4>Other user experiments:</h4>
        <ul>
        <% @other_experiments.each do |p| %>
            <li style="margin-bottom: 10px; border-bottom: 1px dashed #333;">
            Project <%= p.name %>: <br />
            <% p.researchers.each do |r| %>
              <% unless r == current_researcher %>
                <span style="margin-left: 10px;"><%= r.name %></span><br />
                <ul style="margin-bottom: 10px;">
                <% r.experiments.where(:project_id => p.id).each do |e| %>
                  <li><span style="margin-left: 20px;"><%= link_to e.name, e %></span></li>
                <% end %>
              </ul>
              <% end %>

          <% end %>
          </li>
        <% end %>
        <%= paginate @other_experiments, :param_name => "o_e_page" %>
        </ul>
    </div>

  <% else %>
    <div id="notebook" class="grid_12">
    <%= render "notebooks/form" %>
    </div>
  <% end %>

<% else %>
  <div id="auth" class="grid_12">
    <h4>Lab notebook</h4>
    <%= link_to("Sign up", new_researcher_registration_path) %>  <%= link_to("Sign in", researcher_session_path) %>
  </div>
<% end %>
</section>