<% if researcher_signed_in?  %>
  
  <h2 style="margin:0; padding: 0;"><%= "Hi, #{current_researcher.name}" if  current_researcher.name %></h2>
  <%= "You logged in as #{ current_researcher.email }" %>(<%= link_to("sign_out", destroy_researcher_session_path, :method => :get) %>, <%= link_to("edit", edit_researcher_registration_path ) %>)<br /><br />
  <%  if current_researcher.notebook %>

    Your notebook(<%= link_to("delete", current_researcher.notebook, :confirm => 'Are you sure?', :method => :delete) %>): <br />

    <h4>Projects</h4>
    <%if @projects %>
      <ul>
      <%@projects.each do |p|%>
        <li> Project <%= p.name %>(<%= link_to "delete", p, :confirm => 'Are you sure?', :method => :delete %>)
             <%= link_to("follow", follow_path(p)) unless followed?(p) %>
             <%= link_to("unfollow", unfollow_path(p)) if followed?(p) %>
        </li> 
        Project followers:
        <% p.researchers.each do |r| %>
          <%= r.name %>
        <% end %>
        <p><%= link_to "New Project", new_project_path %></p>
      <% end %>
    <% end %>
      </ul>
      <%if current_researcher.experiments %>
        <h4>My experiments:</h4>
        <% current_researcher.experiments.each_with_index do |e, i|%>
          <%  if followed?(e.project) %>
            <%= link_to " #{i+1}. #{e.name} (project #{e.project.name})", e %><%= link_to "(edit)", edit_experiment_path(e) %><%= link_to "(delete)", e, :confirm => 'Are you sure?', :method => :delete %> <br />
          <% else %>
            unfollowd <%=  " #{i+1}. #{e.name} (project #{e.project.name})" %> <br />
          <% end %>
        <% end %>
      <% end %>
      <%= link_to "New Experiment", new_experiment_path %>
      
      <h4>Other user experiments:</h4>

      <% @projects.each do |p| %>
          Project <%= p.name %>: <br />
          <% p.researchers.each do |r| %>
            <% unless r == current_researcher %>
              <%= r.name %><br />
              <ul>
              <% r.experiments.each do |e| %>
                <li><%= link_to e.name, e %></li>
              <% end %>
            </ul>
            <% end %>
          <% end %>

      <% end %>

      <%if current_researcher.notebook.pages %>
        <h4>My Pages: </h4>
        <%current_researcher.notebook.pages.each_with_index do |p, i|%>
            <%= link_to "Page #{i+1} / #{p.created_at}", p %> <%= link_to "(delete)", p, :confirm => 'Are you sure?', :method => :delete %> <br />
        <% end %>
      <% end %>
      <%= render "pages/form" %>


  <% else %>
    <%= render "notebooks/form" %>
  <% end %>

<% else %>
  <%= link_to("sign up", new_researcher_registration_path) %>
  <%= link_to("sign in", researcher_session_path) %>
<% end %>
