<section class="container_12">
<div class="grid_12 push_4" style="font-size: 12px;">

<h4>Page <%= @page.created_at %></h4>
<% @notes.each do |n| %> 
<div class="rounded" style="background: white; width: 400px; margin-bottom: 10px;  padding: 15px;">
  <span class="bold">Experiment: </span> <%= n.experiment.name if n.experiment %> 
  <span style="float: right;">
    <span class="margin-right: 5px;"><%= link_to "edit", edit_note_path(n), :class => "button blue" %></span>
    <%= link_to "delete", n, :confirm => 'Are you sure?', :method => :delete, :class => "button red" %> 
  </span>  <br />
  Attachment: <%= link_to("#{File.basename(n.attachment.url)}", n.attachment.url) if n.attachment.url %><br />
  <br />
 
  Text: <br />
  <div style="background: #f5f5f5; border-bottom: 1px solid #333; padding: 10px; ">
   <%= raw RedCloth.new(n.text).to_html %>
  </div>
  <%= n.created_at %> 
    </div>
<% end %>
<%= paginate @notes %>
<div class="rounded" style="background: white; width: 400px; margin-bottom: 10px;  padding: 15px;">
  <%= render 'notes/form' %>
</div>
</div></section>