<section class="container_12">
<div  class="grid_12" style="margin-top: 10px;">

  <script type="text/javascript" charset="utf-8">
    $(function () {
      new Highcharts.Chart({
        chart: { renderTo: 'experiments-graph' },
        title: { text: '<%= @project.name %>' },
        xAxis: { 
                 type: 'datetime',
                 tickInterval:  24 * 3600 * 1000, 
                 tickWidth: 0, 
               },
        yAxis: {
          title: { text: 'Researchers'}, tickInterval: 1
        },
        scrollbar: {
          enabled: true
        },    tooltip: {
              formatter: function () {
                return Highcharts.dateFormat('%a %d %b %H:%M:%S', this.x) + " " + this.series.name;
              }
        }, 
        series: [
        <% @project.researchers.each_with_index do |r, i| %>
          { 
            name: '<%= r.name %>',
            pointInterval:  24 * 3600 * 1000,
            pointStart: <%=  @project.created_at.to_i * 1000  %>,
            data: <%= r.experiments.map {|e| [ e.created_at.to_i * 1000, i+1] }.inspect %>
            //data: <%= r.experiments.map { |e| { name: e.name, x: @project.created_at.to_i, y: 5 }  }.inspect %>
          },
        <% end %>
        ]
      });
    });
  </script>

  <div id="experiments-graph" style=" ">
  </div>

<div style="margin-top: 10px">
  <p>
    <%= link_to "back", root_path, :class => "button green"  %>
    <%= link_to "Edit", edit_project_path(@project), :class => "button blue" %> 
    <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete, :class => "button red" %>  
  </p>
</div>


</div>
</section>