<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>
<p>
  <strong>Project:</strong>
  <%= @experiment.project.name %>
</p>
<p>
  <strong>Researcher:</strong>
  <%= @experiment.researcher.name %>
</p>

<p>
  <%= link_to "Edit", edit_experiment_path(@experiment) %> |
  <%= link_to "Destroy", @experiment, :confirm => 'Are you sure?', :method => :delete %> 
</p>

<%= link_to "home", root_path %>